<% if local_assigns[:is_homepage] %>

<% else %>
    <% body_class "page-find-mentor" %>
<% end %>

<section class="category-overview">
  <div class="container">

    <h1>Find a Mentor</h1>
    <h2 class="tagline">Who do you want to learn from?</h2>

    <% @categories.in_groups_of(3).each do |category| %>

        <div class="row">
          <% category.each do |category| %>
              <div class="text-center col-sm-4">

                <% if local_assigns[:is_homepage] %>

                    <%= link_to booking_find_mentor_basics_path(category_url_slug: category.url_slug), {:class => category.name.downcase.gsub(" ", "-") + " category-widget", :title => category.name} do %>
                        <div><h2><%= category.name %></h2></div>
                    <% end %>


                <% else %>
                    <%= link_to booking_find_mentor_basics_path(category_url_slug: category.url_slug), {:class => category.name.downcase.gsub(" ", "-") + " category-widget", :title => category.name} do %>
                        <div><h2><%= category.name %></h2></div>
                    <% end %>
                <% end %>


              </div>
          <% end %>
        </div>

    <% end %>
  </div>
</section>