<div class="col-md-8 col-md-offset-2">

    <div class="container-onboard container">

      <h1>Create an Account</h1>

        <p class="row no-gutters">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
        in eros elementum tristique. Duis cursus, mi quis viverra.
        </p>

        <div class="row btn-inline social-btns">
          <div class="col-sm-4 col">
            <a href="" class="button3d btn-facebook">Facebook</a>
          </div>
          <div class="col-sm-4 col">
            <a href="" class="button3d btn-google">Google</a>
          </div>
            <div class="col-sm-4 col">
            <a href="" class="button3d btn-linkedin">LinkedIn</a>
            </div>
        </div>

        <p class="row no-gutters text-center">
            OR:
        </p>

      <%= link_to "Sign Up by Email",  new_user_registration_path , :class => "button3d orange btn-block" %>


    </div>

    <p class="form-footer">
    Already have an account? <%= link_to "Sign in", new_user_session_path %>
    </p>

</div>