

<div class="col-md-8 col-md-offset-2">

  <div class="container-onboard container">

    <h1>Getting Started</h1>

    <p class="row no-gutters">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
      in eros elementum tristique. Duis cursus, mi quis viverra.
    </p>

    <div class="row">

      <p>
        <%= link_to "Start Looking for Mentors",  dashboard_index_path , :class => "button3d orange btn-block" %>
        <br>
        <%= link_to "Create a Mentor Profile", sign_up_set_as_mentor_path, method: :post, :class => "button3d blue btn-block" %>
      </p>
    </div>


  </div>

</div>