<div style="width:100%;">
	<div style="width:33%;float:left;">

	</div>
	<div style="width:33%;float:left;">

	</div>
	<div style="width:33%;float:left;">

	</div>
	<div style="width:33%;float:left;">

	</div>
</div>