<!--Find mentor finalize-->
<% body_class "page-mentor-finalize page-bg" %>
<div class="col-md-8 col-md-offset-2">

  <nav class="tabs">
    <ul class="row">
      <li><a class="col-md-4" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_details' %>">Basics</a></li>
      <li><a class="col-md-4" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_locations' %>">Date &amp; Time</a></li>
      <li><a classs="col-md-4" href="<%=  url_for :controller => 'bookings', :action => 'find_mentor_notes' %>">Notes</a></li>
    </ul>
  </nav>

  <div class="container-mentor-onboard container">

    <h1>Thanks for submitting your request!</h1>

  </div>

</div>
	
