<div style="color:white">



find_mentors_public_profile

<Br/>

TITLE DATE @ LOCATION • CATEGORY TAGS  


<Br/>

- SUMMARY AREA  <br/>

			<div style="border:1px solid black;">
				
			IMAGE<br/>
			PROFILE IMAGE<br/>
	
			
			<%= @mentor.full_name %><br/>
			<%= @mentor.profile.one_line_description %><br/>
			
			SERVICE COUNT: 0 Services<br>
			SESSIONS COUNT: 0 Sessions<br>
			RATING COUNT: 0 Rating<br>
			
		
			 <B>mentor id : <%= @mentor.id %></B>
			  
			</div>
			
			
			<br/>
			
			




</div>