.profile-header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #565a5c;
  background-image: url(http://uploads.webflow.com/54ff3884a8d47afa0c424404/550c51446ff2e2f45732ff19_bg-home-improve-muted.jpg);
  background-size: cover;
  &.albert {
    background-image: url(http://uploads.webflow.com/54ff3884a8d47afa0c424404/550c773d6ba5885555e11636_mentor-cover-large.jpg);
    background-position: 50% 0px;
    background-attachment: fixed;
  }
  .row {
    margin-bottom: 0;
  }
  .avatar-welcome {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
  }
  .welcome-text {
    padding-top: 5px;
    padding-right: 26px;
    padding-bottom: 5px;
  }
  h3 {
    color: $white;
    display: inline-block;
    margin: 0px;
  }

  .session-label {
    display: inline-block;
    color: #cacccd;
    font-size: 14px;
    line-height: 25px;
  }
  .cover-copy {
    display: block;
    color: #cacccd;
    margin: 0;
  }
  .welcome-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }
  .welcome-number {
    font-family: 'Varela Round', sans-serif;
    color: #3078b2;
    font-size: 40px;
    line-height: 40px;
    color: $white;
  }
  .welcome-label {
    margin-top: 5px;
    color: $white;
    line-height: 16px;
  }
  @media (max-width: $screen-sm) {
    .col {
      text-align: center;
    }
    .welcome-label {
      margin-bottom: 15px;
    }
  }
}