<div class="container-content">
  <div class="inner-title">
    <div>Featured Review</div>
  </div>
  <div class="inner-module">
    <div class="row activity-row">
      <div class="col-xs-9 col no-gutter-right">
        <img class="icon-star" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/550b53a0702f83b966563180_icon-star.svg" width="15"><img class="icon-star" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/550b53a0702f83b966563180_icon-star.svg" width="15"><img class="icon-star" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/550b53a0702f83b966563180_icon-star.svg" width="15"><img class="icon-star" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/550b53a0702f83b966563180_icon-star.svg" width="15"><img class="icon-star" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/550b53a0702f83b966563180_icon-star.svg" width="15">

        <div>“Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam...”</div>
      </div>
      <div class="col-xs-3 col no-gutter-left">
        <img class="avatar-small" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/550b4da85b7ee5ba660e4dea_avatar.png" width="125">
      </div>
    </div>
    <a class="text-link" href="#">Read All Reviews</a></div>
</div>