  <div class="footer-block">
    <div class="section footer-section">
      <div class="container footer">
        <div class="row">
          <div class="col-sm-4"><%= image_tag("logo-center@2x.png", width: '250px') %>
          </div>
          <div class="col-sm-2">
            <h3>Company</h3><a class="footer-link" href="#">How It Works</a><a class="footer-link" href="#">Be a Mentor</a><a class="footer-link" href="#">About</a><a class="footer-link" href="#">Contact</a>
          </div>
          <div class="col-sm-2">
            <h3>Resources</h3><a class="footer-link" href="#">For Mentors</a><a class="footer-link" href="#">For Mentees</a><a class="footer-link" href="#">Trust &amp; Safety</a><a class="footer-link" href="#">Help</a>
          </div>
          <div class="col-sm-4">
            <h3>Get Updates</h3>
            <div class="form form-wrapper">
              <form id="email-form" name="email-form" data-name="Email Form">
                <input class="input" id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required">
                <input class="button3d" type="submit" value="Sign Up" data-wait="Please wait...">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section copyright-section">
      <div class="container copyright">
        <div class="copyright-label">&copy; 2015 MentyrMe. All Rights Reserved.</div><a class="copyright-link" href="#">Terms &amp; Privacy</a>
      </div>
    </div>
  </div>
