//Base Styles
p {
  line-height: $line-height-large-paragraph;
  color: #565a5c;
  font-weight: 300;
}

//Button Styles
.button {
  display: inline-block;
  padding: 15px 25px 12px;
  border-bottom: 3px solid;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

.button3d, .btn {
  @include button3d($blue);
  &.blue {
    @include button3d($blue);
  }
  &.orange {
    @include button3d($orange);
  }
  &.btn-gray{
    @include button3d(#82888a);
  }
  &.btn-white{
    @include button3d(#fff);
    border-bottom-color: transparent;
    color: #faab2e;
  }
  &.btn-facebook {
    @include button3d($facebook-blue);
    width: 100%;
  }
  &.btn-google{
    @include button3d($google-red);
    width: 100%;
  }

  &.btn-linkedin{
    @include button3d($linkedin-blue);
    width: 100%;
  }
  height: auto;
  &.btn-block {
    display: block;
    width: 100%;
  }
}
.btn.btn-default {
  border-bottom: 0;
}
.btn.btn-empty {
  background-color: transparent;
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #82888a;
  border-radius: 5px;
  color: #82888a;
  font-weight: 300;
  text-decoration: none
}

.hire-action {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.hire-rate {
  display: inline-block;
  float: none;
  color: #84bee7;
  font-weight: 400;
  text-align: center;
}
.aux-links {
  text-align: center;
  margin-bottom: $padding-large-vertical;
  font-size: $font-size-small;
}

.terms-text {
  color: #82888a;
  font-size: 12px;
  font-weight: 300;
}

.checked-src {
  display: none;
}

.checked-active {
  background: $orange;
}

.notice:empty, .alert:empty {
  display: none;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate0 {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}


///Rating Stars
.rating-row {
  margin-top: 15px;
}
.stars {
  display: inline-block;
  margin-top: 0px;
  margin-left: 15px;
  padding-top: 0px;
  color: #82888a;
  font-weight: 300;
}
.icon-star {
  margin-top: -5px;
  margin-right: 2px;
  margin-left: 0px;
}
.session-label {
  display: inline-block;
  color: #cacccd;
  font-size: 14px;
  line-height: 25px;
}


//Avatars

.avatar-med {
  width: 48px;
  height: 48px;
  min-height: 48px;
  min-width: 48px;
  border-radius: 50%;
}

.avatar-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}