<section class="features">
  <div class="container">

    <h1>Features</h1>
    <h2 class="tagline">It’s easy to learn with MentyrMe.</h2>

    <div class="row features-row">

      <div class="col col-sm-4">
        <div class="features-widget">
          <div class="row">
            <div class="col col-sm-2 col-stack">
              <img class="features-image" src="/assets/icons/icon-connect.svg" width="65">
            </div>
            <div class="col col-sm-10 col-stack">
              <div class="widget-content">
                <div class="features-title">Connect With People</div>
                <p class="features-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-sm-4">
        <div class="features-widget">
          <div class="row">
            <div class="col col-sm-2 col-stack">
              <img class="features-image" src="/assets/icons/icon-communication.svg" width="65">
            </div>
            <div class="w-col w-col-10 w-col-stack">
              <div class="widget-content">
                <div class="features-title">Simple Communication</div>
                <p class="features-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-sm-4">
        <div class="features-widget">
          <div class="w-row">
            <div class="col col-sm-2 col-stack">
              <img class="features-image" src="/assets/icons/icon-feedback.svg" width="65">
            </div>
            <div class="w-col w-col-10 w-col-stack">
              <div class="widget-content">
                <div class="features-title">Community Feedback</div>
                <p class="features-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row features-row">

      <div class="col col-sm-4">
        <div class="features-widget">
          <div class="w-row">
            <div class="col col-sm-2 col-stack">
              <img class="features-image" src="/assets/icons/icon-payment.svg" width="65">
            </div>
            <div class="col col-sm-10" col-stack>
              <div class="widget-content">
                <div class="features-title">Easy Payments</div>
                <p class="features-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-sm-4">
        <div class="features-widget">
          <div class="w-row">
            <div class="col col-sm-2 col-stack">
              <img class="features-image" src="/assets/icons/icon-safe.svg" width="65">
            </div>
            <div class="col col-sm-10" col-stack>
              <div class="widget-content">
                <div class="features-title">Safe and Reliable</div>
                <p class="features-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-sm-4">
        <div class="features-widget">
          <div class="w-row">
            <div class="col col-sm-2 col-stack">
              <img class="features-image" src="/assets/icons/icon-learn-more.svg" width="65">
            </div>
            <div class="col col-sm-10 col-stack">
              <div class="widget-content">
                <div class="features-title">Keep Learning</div>
                <p class="features-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <a class="button3d orange btn" href="/about">Learn More</a>

  </div>

</section>