<section class="section-hero">
  <div class="container hero">
    <h1 class="hero-title">Learn Something New</h1>
    <h2 class="hero-tagline">MentyrMe brings together people who want to learn with people who have skills to share.
    </h2>
    <a class="button3d btn orange" href="/old-home">Start Learning</a>
    <a class="btn-empty btn" href="/be-a-mentor">Be
    a
    Mentor</a><img class="w-hidden-tiny hero-screenshot" src="http://uploads.webflow.com/54ff3884a8d47afa0c424404/5567710bd5d3cc1f275fea20_hero-screenshot-v1.png">
  </div>
</section>
