<section class="how-it-works">

  <div class="container">

    <h1>How It Works</h1>
    <h2 class="tagline">We bring together people who want to learn with people who have skills to share.</h2>

    <div class="row how-it-works-row">
      <div class="col col-sm-4">
        <div class="how-it-works-widget">
          <img class="how-it-works-icon" src="/assets/icons/icon-choose-mentor.svg" width="150">

          <h3>Choose a Mentor</h3>

          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
      </div>
      <div class="col col-sm-4">
        <div class="how-it-works-widget">
          <img class="how-it-works-icon" src="/assets/icons/icon-choose-time.svg" width="150">

          <h3>Schedule a Session</h3>

          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
      </div>
      <div class="col col-sm-4">
        <div class="how-it-works-widget">
          <img class="how-it-works-icon" src="/assets/icons/icon-learn.svg" width="150">

          <h3>Learn Something New</h3>

          <p class="gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
      </div>
    </div>
  </div>
</section>
