<section class="ready-to-learn">

  <div class="container action">

    <h1>Are you ready to learn?</h1>
    <h2 class="tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>

    <div>
        <a class="button3d btn btn-white" href="#">Start Learning</a>
        <a class="button3e btn btn-empty" href="#">Be a Mentor</a></div>
     </div>

</section>