<div ng-controller="TransactionsCtrl">
<div class="w-col w-col-9">
   <div class="container-content">
     <div class="inner-title">
       <div>Transactions</div>
     </div>
     <div class="w-clearfix inner-content less-padding">
       <h2>Your Transactions</h2>
       <div ng-show="{{transactions.length > 0}}">
       <div class="w-dropdown title-dropdown" data-delay="0">
         <div class="w-dropdown-toggle title-dropdown-toggle">
           <div class="dropdown-text">Completed</div>
           <div class="w-icon-dropdown-toggle dropdown-title-icon"></div>
         </div>
         <nav class="w-dropdown-list title-dropdown-list"><a class="w-dropdown-link title-dropdown-link" href="#">All Transactions</a><a class="w-dropdown-link title-dropdown-link" href="#">Completed</a><a class="w-dropdown-link title-dropdown-link" href="#">Future</a>
         </nav>
       </div>
       <div class="w-row transaction-titles">
         <div class="w-col w-col-2">
           <div>Date</div>
         </div>
         <div class="w-col w-col-3">
           <div>Pay To</div>
         </div>
         <div class="w-col w-col-4">
           <div>Title</div>
         </div>
         <div class="w-col w-col-3">
           <div>Amount</div>
         </div>
       </div>
       <div class="w-row transaction-row" ng-repeat="transaction in transactions | filter: { state: selectedState || ''}">
         <div class="w-col w-col-2">
           <div class="form-input">
             <div>{{transaction.created_at | date:"MM/dd/yyyy" }}</div>
           </div>
         </div>
         <div class="w-col w-col-3">
           <div class="form-input">
             <div>{{firstNames[$index]}}&nbsp;{{lastNames[$index]}}</div>
           </div>
         </div>
         <div class="w-col w-col-4">
           <div class="form-input">
             <div>{{transaction.title}}</div>
           </div>
         </div>
         <div class="w-col w-col-3">
           <div class="w-clearfix form-input"><img class="trans-icon" src="images/icon-check-green.svg" width="15">
             <div>{{transaction.amount | currency}}</div>
           </div>
         </div>
       </div>
       <div class="spacer50"></div><a class="button mentor" href="#">Make Payment</a>
     </div>
    </div>
      <h3 ng-hide="{{transactions.length > 0}}">You have no transactions</h3>
    </div>
   </div>
 </div>
