<div class="row">
  <div class="col-sm-4 col-md-3">
    <%= render "/_shared/account_partials/sidebar_nav" %>
  </div>
  <div class="col-sm-8 col-md-9">
    <div ng-app="app">
<div ng-controller="TransactionsCtrl">
<div class="w-col w-col-10">
   <div class="container-content">
     <div class="inner-title">
       <div>Transactions</div>
     </div>
     <div class="w-clearfix inner-content less-padding">
       <h2>Your Transactions</h2>

       <div class="w-dropdown title-dropdown" dropdown data-delay="0">
         <div class="w-dropdown-toggle title-dropdown-toggle"  dropdown-toggle ng-disabled="disabled">
           <div class="dropdown-text">{{transactionStatus.label}}</div>
           <div class="w-icon-dropdown-toggle dropdown-title-icon"></div>
         </div>
         <nav class="dropdown-menu">
           <div ng-repeat="choice in items">
           <a class="w-dropdown-link dropdown-link" ng-click="setTransactionStatus(choice)">{{choice.label}}</a>
         </div>
         </nav>
       </div>

       <div class="w-row transaction-titles">
         <div class="w-col w-col-2">
           <div>Date</div>
         </div>
         <div class="w-col w-col-3">
           <div>Pay To</div>
         </div>
         <div class="w-col w-col-3">
           <div>Title</div>
         </div>
         <div class="w-col w-col-2">
           <div>Amount</div>
         </div>
         <div class="w-col w-col-2">
           <div>Todo</div>
         </div>
       </div>
       <div class="w-row transaction-row" ng-repeat="transaction in transactions | filter: { state: transactionStatus.value || ''}">
         <div class="w-col w-col-2">
           <div class="form-input">
             <div>{{transaction.created_at | date:"MM/dd/yy" }}</div>
           </div>
         </div>
         <div class="w-col w-col-3">
           <div class="form-input">
             <div>{{firstNames[$index]}}&nbsp;{{lastNames[$index]}}</div>
           </div>
         </div>
         <div class="w-col w-col-3">
           <div class="form-input">
             <div class="transaction-title">{{transaction.title}}</div>
           </div>
         </div>
         <div class="w-col w-col-2">
           <div class="w-clearfix form-input">
             <div>{{transaction.amount | currency}}</div>
           </div>
         </div>
         <div class="w-col w-col-2">
           <a ng-href="/payment/index?btn_text=Confirm&transaction_id={{transaction.id}}&amount={{transaction.amount}}&mentor_first_name={{firstNames[$index]}}&mentor_last_name={{lastNames[$index]}}" ng-show="{{transaction.state == 'future'}}" class="button mentor">Make Payment</a>
             <a ng-href="/payment/release_escrow?btn_text=Confirm&transaction_id={{transaction.id}}" ng-show="{{transaction.state == 'escrow'}}" class="button mentor">Release Escrow</a>
         </div>
       </div>
     </div>
    </div>
      <h3 ng-hide="{{transactions.length > 0}}">You have no transactions</h3>
    </div>
   </div>
 </div>
     </div>
   </div>
 </div>