<div ng-controller="MentorAccountCtrl">
  <div ng-controller="FlashMessageController" ng-init="hideMessage()">
    <div ng-hide="isSuccess">
    <h1>How would you like to get paid?</h1>
    <tabset justified="true">
      <tab heading="Email">
        <div class="alert" ng-class="alert" ng-show="flash">
          <button type="button" class="close" ng-click="hideMessage()">
            <span aria-hidden="true">&times;</span>
          </button>
          <style>
            .pre {white-space: pre}
          </style>
          <span class="pre">{{flash}}</span>
        </div>
        <%= render "email" %>
      </tab>
      <tab heading="Bank Account">
        <div class="alert" ng-class="alert" ng-show="flash">
          <button type="button" class="close" ng-click="hideMessage()">
            <span aria-hidden="true">&times;</span>
          </button>
          <style>
            .pre {white-space: pre}
          </style>
          <span class="pre">{{flash}}</span>
        </div>
        <%= render "bank" %>
      </tab>
    </tabset>
    </div>
    <div ng-show="isSuccess">
      <div> Payment preference has been selected successfully</div>
  </div>
</div>
