<div ng-controller="MentorAccountCtrl">
  <h1>Choose pay type</h1>
  <tabset justified="true">
    <tab heading="Email">
      <%= render "email" %>
    </tab>
    <tab heading="Bank">
      <%= render "bank" %>
    </tab>
  </tabset>
</div>
